{% extends 'layouts/master.html' %}

{% block title %}
MENU | Add
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'menu-list' %}" class="btn btn-sm btn-primary mb-3 mt-3">Back</a>
        <div class="card p-5 mt-3">
            
            {% if title %}
                <h1>{{ title }}</h1>
                <hr>
            {% else %}
                <h1>This is MENU Add page</h1>
                <hr>
            {% endif %}
            <form action="{% url 'menu-add' %}" method="post">
                {% csrf_token %}
                {{ menu_create_form.as_p }}
                <input type="submit" class="btn btn-sm btn-primary" value="Add Menu">
            </form>
        </div>
    </div>
{% endblock %}